@use "./functions" as func;
@use "sass:map";

//COLOR
$blue: #549EF2;
$cyan: #44D3D2;
$light_cyan: #83A6D2;
$grey: (
    400: #6A7178,
    500: #4D4F62
);
$orange: #FCAE4A;
$red: #EA5454;
$white: #FFFFFF;

// TYPOGRAPHY
$font_family: "Poppins", serif;

$spacing: (
    8 : func.to_rem(8),
    16 : func.to_rem(16),
    24 : func.to_rem(24),
    32 : func.to_rem(32),
    40 : func.to_rem(40),
);

$special_spacing: (
    1: func.to_rem(1),
    2: func.to_rem(2),
    4: func.to_rem(4),
)
